*{
  font-style: normal;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background: linear-gradient(90deg, #d4afa9, #e7bbb8 );
}
h1{
  text-align: center;
}
#atual{
  background-color: #a87b75;
  color: white;
}
#title{
    text-align: center;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.branco{
    color: rgba(255, 255, 255, 0.871);
}
#menu{
  background-color:rgb(255, 255, 255);
    font-size: x-large;
    text-align: center;
    margin: 40px;
    height: 55px;
    border-radius: 65px;
    position:static;
}
.menu-fixed{
  position: fixed;
  padding-left: 450px;
  z-index: 1000; 
  top: 0;
}
.home{
  background-color: rgb(255, 0, 204) ;
}
.mais{
  background-color: #ffffffc1;
  color: black;
  border: #a87b75;
  border-radius: 25px;
  width: 55%;
  margin-block: 7%;
  padding: 25px;
}
*************GRID*******************

.button {
  background-color: #000;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.button:hover {
  background-color: #000000;
}
#produtos {
  padding: 50px 20px;
  text-align: center;
}
#produtos h2 {
  font-size: 36px;
  color:#fff;
  margin-bottom: 40px;
}
.produto-grade {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin: 45px;
}
.produto {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 300px;
}
.produto img {
  width: 100%;
  border-radius: 10px;
}
.produto h3 {
  font-size: 24px;
  margin: 15px 0;
}
.produto p {
  font-size: 18px;
  color: #ffffff;
}
.produto .button {
  display: inline-block;
  margin-top: 10px;
}
.produto:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/**************Carosel************



**********Em desenvolvimento*****



*/
#corpo-home-lateral{
  background-color: #ffffffc1;
  color: black;
  border: #a87b75;
  border-radius: 25px;
  width: 30%;
  margin-block: 5.7%;
  padding: 2%;
  float: right;
}
#img-home-lateral{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ffffff00;
  color: black;
  display: block;
  border: white 15px;
  border-radius: 95px;
  padding-block: 25px;
  margin-block: 80px;
  width: 400px;
  float: right;
  padding: 25px;
}

#corpo-home-lateral:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.prodm{
  background-color: rgb(255, 0, 204) ;
}
.noticias{
  background-color: rgb(255, 0, 204) ;
}
a:link, :visited{
    background-color: rgb(255, 255, 255);
    color: rgb(21, 21, 21);
    text-decoration: none;
    border: 15px;
    border-radius: 25px;
    padding: 10px;
    bottom: 15px;
}
a:hover{
    background-color: #a87b75;
    color: rgb(255, 255, 255);
}
.cart-button{
  right: 40px; /* Posiciona o carrinho no canto direito */
  border: none;
  padding: 0.5px 0.75px;
  cursor: pointer;
  border-radius: 5px;
  font-size: xx-large;
}

#corpo{
  background: linear-gradient(90deg, #000000aa,#ac3effaa,#000000aa no-repeat);
  color: rgb(0, 0, 0);
  text-align: center;
  display: block;
  border-radius: 15px;
  border: #fff;
}
.bem-vindo{
  font-size: x-large;
}
p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
}
#corpo-not{ 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(88, 76, 100, 0.496);
  color: white;
  display: block;
  border: white 15px;
  border-radius: 95px;
  padding-block: 35px;
  margin-bottom: 25px;
  width: 920px;
  text-align: center;
  float: left;
  padding-top: 55px;
  padding: 25px;
}

#corpo-not:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#corpo-not h1{
    font-size: xx-large;
}
#corpo-not-lateral{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(88, 76, 100, 0.496);
    color: white;
    display: block;
    border: white 15px;
    border-radius: 95px;
    padding-block: 25px;
    margin-bottom: 15px;
    width: 400px;
    text-align: center;
    float: right;
    padding: 25px;
}

#corpo-not-lateral:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.valor{
  font-size: xx-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #ff88009f;
  color: #fff;
}
.shumukh{
  width: 250px;
}
h2{
    font-size: x-large;
}
ul{
    list-style: none;
}
#corpo-prod{
    background-color: rgba(88, 76, 100, 0.496);
  color: white;
  display: block;
  border: white 15px;
  border-radius: 95px;
  padding-block: 25px;
  margin-bottom: 15px;
  width: 800px;
  text-align: center;
  -moz-box-align: center;
  padding: 25px;
}

#corpo-prod:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos gerais do rodapé */
footer {
  background-color: #333;
  color: #fff; 
  padding:20px ; 
  display: -webkit-inline-box; 
  width: 97%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;

}
.footer-section-links{
    a{
      background-color: #333;
    }
    padding-top: 60px;
}
.footer-content {
  display: flex; 
  justify-content: space-around; 
  max-width: 1200px; /* Largura máxima do rodapé */
  margin: auto; /* Centraliza o rodapé */
}
.footer-section {
  flex: 1; 
  padding: 55px; /* Espaço em cada seção */
}
.footer-section h3 {
  margin-bottom: 15px; 
}
.footer-section ul {
  list-style-type: none; 
}

.footer-section ul li {
  margin-bottom: 8px;

}

.footer-section ul li a {
  text-decoration: none; 
}

.footer-section ul li a:hover {
  color: #dc50ffd0; 
  transition: color 0.3s; /* Transição suave para a cor */
  margin: 35px;
}
.footer-section p {
  margin: 5px 10; 
}
@media (max-width: 768px) {
  .footer-content {
      flex-direction: column; /* Empilha as seções verticalmente */
      text-align: center; 
  }
  .footer-section {
      margin-bottom: 20px; 
  }
}
#term-serv{
  color: #ffffff;
}
/**************************CARRINHO****************/
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ctitle {
  text-align: center;
  color: #333333;
}
.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}
.cart-item:hover{
  transform: scale(1.00);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.product-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 5px;
}
.product-details {
  flex-grow: 1;
}
.product-name {
  font-size: 18px;
  color: #333333;
}
.product-price {
  font-size: 16px;
  color: #666666;
}
.product-quantity {
  width: 50px;
  padding: 5px;
  margin-right: 10px;
}
.remove-btn {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}
.remove-btn:hover {
  background-color: #c82333;
}
.total {
  text-align: right;
  margin-top: 20px;
}
.checkout-btn {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}
.checkout-btn:hover {
  background-color: #218838;
}
#button-pay:hover {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}
/***************** Paygamentos *************/
.container-pay {
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.h1-pay {
  text-align: center;
  color: #333;
}
.form-pay {
  display: flex;
  flex-direction: column;
}
.label-pay {
  margin-bottom: 10px;
  color: #333;
}
.input-pay, .select-pay {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.payment-methods {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.payment-methods img {
  width:100px;
}
.pay-button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.pay-button:hover {
  padding: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
}
.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
}
/***********************Processando pay***************************/
.payment-container {
  background-color: #ffffff;
  margin-left: 35%;
  padding: 1%;
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 30%;
  width: 20%;
}
.payment-info {
  text-align: left;
  margin-bottom: 20px;
}
.stcenter{
  text-align: center;
}
.payment-info p {
  margin: 10px 0;
  font-size: 20px;
}

.qr-code-container {
  margin-bottom: 20px;

}

.qr-code-container img {
  width: 100%;
  height: 100%;
}

.instructions {
  font-size: 80px;
  color: #555;
}

.instructions strong {
  color: #e63946;
}

/********PRODUTOS 2****************************/
#produtos {
  padding: 50px 20px;
  text-align: center;
}
#produtos h2 {
  font-size: 36px;
  color:#fff;
  margin-bottom: 40px;
}
.produto-grade {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin: 45px;
}
.produto {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 300px;
}
.produto img {
  width: 100%;
  border-radius: 10px;
}
.produto h3 {
  font-size: 24px;
  margin: 15px 0;
}
.produto p {
  font-size: 18px;
  color:#333333;
}
.produto .button {
  display: inline-block;
  margin-top: 10px;
}
/*************LOGIN*****************/
#voltar {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  background-color: #ffffff;
  color: #000;
}
#login{
  margin-left: 35%;
}
.login-section {
  background-color: #fff;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.login-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}
.login-section p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 14px;
  color: #333;
  text-align: left;
  margin-bottom: 5px;
}
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}
input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #2980b9;
}
.forgot-password {
  font-size: 12px;
  margin-bottom: 15px;
  display: inline-block;
  color: #3498db;
  text-align: right;
}
.forgot-password:hover {
  color: #2980b9;
}
/*************************ABA DE PRODUTOS **************************************/
#btn-product{
  margin-left: 10px;
  margin-right: 10px;
}

.product-container {
background-color: white;
border-radius: 8px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
width: 400px;
padding: 20px;
text-align: center;
margin-left: 500px;
}

.product-container img {
width: 75%;
border-radius: 8px;
}

.product-details {
margin: 20px 0;
}

.product-details h2 {
font-size: 24px;
color: #333;
}

.product-details p {
font-size: 16px;
color: #777;
}

.price {
font-size: 22px;
font-weight: bold;
color: #009688;
margin: 10px 0;
}

.button-container {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.button-container button {
background-color: #009688;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

.button-container button:hover {
background-color: #00796b;
}

.button-container .secondary {
background-color: #f39c12;
}

.button-container .secondary:hover {
background-color: #e67e22;
}

.button-container .favorite {
background-color: #e74c3c;
}

.button-container .favorite:hover {
background-color: #c0392b;
}